services:
  - type: web
    name: dc-roll-bot
    env: python
    plan: free
    buildCommand: pip install -r requirements.txt
    startCommand: python main.py
    envVars:
      - key: DISCORD_TOKEN
        sync: false
    healthCheckPath: /health
    autoDeploy: true